:host {
    /* border: 1px yellow dashed; */
}

.time {
    /* font-weight: 100; */
    font-size: .75em;
}

.wind {
    /* font-weight: 100; */
    font-size: .70em;
    color: #CCC;
    width: 6.75em;

}

.temperature {

    /* font-weight: 100; */
    font-size: .75em;

}

.conditions {
    font-size: .85em;
    /* font-weight: 700; */
}