:host {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}


a {
    text-decoration: none;
    color: black;
    transition: all .2s;
}

a:hover {
    color: dodgerblue;
}

li {
    margin: 5px;
    list-style: none;
    /* border: 1px solid pink; */
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-background-navbar);
    height: 65px;
    /* border: 1px solid black; */


}

.logo {
    font-weight: 500;
    /* border: 1px solid green; */
}

.navigation-primary {
    /* border: 1px solid red; */
    display: flex;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 480px) {
    :host {
        /* display: none; */
    }

    .navigation-primary {
        /* flex-direction: column; */
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: '';
        display: block;
        background-color: black;
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
        transition: all ease-in-out 100ms;
    }

    .hamburger::before {
        transform: translateY(-6px);
    }

    .hamburger::after {
        transform: translateY(3px);
    }
}