.main-content {
    height: 100%;
    background-color: hsl(120, 20%, 17%);
}

.content p {
    font-size: 1.2em;
    max-width: 1000px;
    background-color: hsl(120, 20%, 40%);
    padding: 1em;
    margin: .45em;
    border-radius: 2px;
    color: #102;
}