<mat-drawer-container class="drawer-container">
    <mat-drawer #drawer class="drawer">
        <div class="drawer-flex">
            <label for="">Zip Code</label>
            <input type="text" [(ngModel)]="zipcode" (keydown.enter)="handleSubmit()">
            <label for="" class="label-error" *ngIf="error">
                * {{error.error.message}}</label>
            <button (click)="handleSubmit()">search</button>
            <label for="">Favorites</label>
            <ul *ngIf="favoriteCities.length">
                <li *ngFor="let city of favoriteCities" (click)="handleFavoriteCityClick(city)">
                    <span class="favorite-city">{{city.name}}</span>
                </li>
            </ul>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <h1 class="page-title">Weather</h1>
        <button (click)="drawer.toggle()">options</button>
        <div class="flex-container" *ngIf="(weatherData$ | async) as weatherData; else Loading">
            <h1>{{weatherData.city.name}}</h1>
            <h2>{{weatherData.city.sunset * 1000 | date}}</h2>
            <div class="current-conditions-container">
                <div class="current-conditions">
                    <div class="debug">
                        <img class="debug"
                            src="http://openweathermap.org/img/wn/{{weatherData.list[0].weather[0].icon}}@2x.png"
                            alt="">
                        <span>{{weatherData.list[0].weather[0].main}}</span>
                        <h2>{{weatherData.list[0].main.temp.toFixed(0)}}&deg; F</h2>
                    </div>
                    <div class="debug">Hour 1</div>
                    <div class="debug">Hour 2</div>
                    <div class="debug">Hour 3</div>
                </div>
            </div>
            <div class="solar-events">
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                        class="bi bi-sunrise" viewBox="0 0 16 16">
                        <path
                            d="M7.646 1.146a.5.5 0 0 1 .708 0l1.5 1.5a.5.5 0 0 1-.708.708L8.5 2.707V4.5a.5.5 0 0 1-1 0V2.707l-.646.647a.5.5 0 1 1-.708-.708l1.5-1.5zM2.343 4.343a.5.5 0 0 1 .707 0l1.414 1.414a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    <label class="" for="">{{weatherData.city.sunrise* 1000 | date:'shortTime'}}</label>
                </div>
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor"
                        class="bi bi-sunset" viewBox="0 0 16 16">
                        <path
                            d="M7.646 4.854a.5.5 0 0 0 .708 0l1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V1.5a.5.5 0 0 0-1 0v1.793l-.646-.647a.5.5 0 1 0-.708.708l1.5 1.5zm-5.303-.51a.5.5 0 0 1 .707 0l1.414 1.413a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .706l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                    </svg>
                    <label class="" for="">{{weatherData.city.sunset * 1000 | date:'shortTime'}}</label>
                </div>
            </div>
        </div>
        <ng-template #Loading>Loading...</ng-template>
        <app-map class="map"></app-map>
    </mat-drawer-content>
</mat-drawer-container>