<mat-drawer-container class="drawer-container">
    <mat-drawer class="drawer"></mat-drawer>
    <mat-drawer-content class="main-content">
        <h1 class="page-title">Bulletin board</h1>
        <!-- <button class="button-options">options</button> -->
        <app-new-question (pullPosts)="posts$"></app-new-question>
        <div *ngIf="(posts$ | async) as posts; else Else" class="flex-container">
            <app-post *ngFor="let post of posts.data" [post]="post"></app-post>
        </div>
        <ng-template #Else>Loading...</ng-template>
    </mat-drawer-content>
</mat-drawer-container>