.flex-container {
    flex-direction: column;
}

.drawer-container {
    background-color: #ACA;
    height: 100%;
    overflow: auto;
}

.drawer {
    position: fixed;
    /* left: 0; */
    top: 65px;
    /* height: calc(100% - 65px); */
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: #333;
}

.button-options {
    display: block;
}

.main-content {
    height: 100%;
}