.main-content {
    height: 100%;
    overflow: auto;
    background-color: #111;
}

.content p {
    font-size: 1.2rem;
    max-width: 1000px;
    background-color: hsl(112, 29%, 37%);
    padding: 1rem;
    border-radius: 2px;
    color: #002;
    margin: .45rem auto;
}