.button-new-question {
    border: none;
    padding: 10px;
    font-size: .8em;
    letter-spacing: 1px;
    margin-left: 5px;
}

.button-new-question:hover {
    background-color: black;
    color: orange;
}

mat-form-field {
    /* display: inline-block; */
    /* margin-inline: 20%; */
    width: calc(100% - 76px);
}

form {
    width: clamp(300px, 80%, 800px);
    margin-inline: auto;
}

.form-field-wrapper {
    width: 100%;
    /* margin-left: 100px; */
}