.flex-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.slider-label {
    display: block;
    text-align: center;
    font-size: 1.7em;
    /* color: white; */
    color: lightgreen;
    font-weight: 100;
    /* margin-top: 1em; */
}

.slider-label span {
    color: #ffd740;
    font-size: 1.1em;
    font-weight: 900;
}

.mat-drawer-container {
    height: 100%;
    overflow: auto;
}

.drawer-container {
    background-color: #ACA;
    /* top: 65px; */
    /* height: calc(100% - 65px); */
}

.drawer {
    position: fixed;
    /* left: 0; */
    top: 65px;
    height: calc(100% - 65px);
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: #333;
}

.drawer-button {
    position: fixed;
    right: 0;
    z-index: 3;
    margin-top: 10px;
    margin-right: 3px;

    border-radius: 10%;
    color: white;
    background-color: purple;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .3 ease-in;
    box-shadow: 0px 0px 4px black;
}

.drawer-button:hover {
    color: orange;
}

.center {
    display: flex;
    justify-content: center;
    height: calc(100% - 75px);
}

.mat-drawer-content {
    display: inline;
}

@media (max-width: 480px) {
    .flex-container {
        flex-direction: column;
        gap: 0;
    }

    .drawer-container {
        top: 0;
        height: 100%;
    }

    .drawer-button {
        top: 0;
    }

    .drawer {
        top: 0;
        height: 100%;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #ddc629;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #655;
}