.flex-container {
    width: 100%;
    justify-content: space-around;
}

.slider {
    width: 90%;
    /* margin: 0 auto; */
}

.slider-label {
    font-size: 1.2em;
    color: white;
    margin-left: 5px;
}