.flex-container {
    /* flex row */
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.slider-label {
    display: block;
    text-align: center;
    font-size: 1.7em;
    /* color: white; */
    color: lightgreen;
    font-weight: 100;
    margin-top: 1em;
}

.slider-label span {
    color: #ffd740;
    font-size: 1.1em;
    font-weight: 900;

}

@media (max-width: 480px) {
    .flex-container {
        flex-direction: column;
        gap: 0;
    }
}