:host {
    --clr-background-primary: lightgreen;
    --clr-background-secondary:
}

.card {
    background-color: var(--clr-background-primary);
    line-height: 1.5;
    gap: 1em;
    flex-direction: column;
    width: 400px;
    height: 100%;
}

.flex-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
}

button {
    padding: 10px;
    background-color: purple;
    color: white;
    font-size: 1.1em;
    border-radius: 10px;
}

.card .content {
    font-size: 1.2em;
}

.categories {
    padding: 10px;
    flex-direction: column;
}

.heading-category {
    margin-block-end: 0;
    font-weight: 300;
}

fieldset {
    border: none;
    box-shadow: 0 0 5px black;
    background-color: darkgreen;
    color: whitesmoke;
}

.content p {
    padding: 3em;
    background-color: powderblue;
    box-shadow: 1px 1px 5px black;
    border-radius: 50%;
}

.content p:not(:last-child) {
    margin-bottom: 10px;
}

.bottom-center {
    position: absolute;
    bottom: 0;
}

.flex-container {
    flex-wrap: nowrap;
}