<mat-toolbar>
    <button mat-icon-button *ngIf="sideNav.mode === 'over'" (click)="sideNav.toggle()">
        <mat-icon *ngIf="!sideNav.opened">menu</mat-icon>
        <mat-icon *ngIf="sideNav.opened">close</mat-icon>
    </button>
    Angular App
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav class="mat-elevation-z8" #sideNav="matSidenav">

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <a routerLink="">Home</a>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <a routerLink="aboutpage">About</a>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>sentiment_very_satisfied</mat-icon>
            <a routerLink="jokepage">Jokes</a>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>cloudy</mat-icon>
            <a routerLink="weatherpage">Weather</a>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>assignment</mat-icon>
            <a routerLink="bulletinboard">Bulletin board</a>
        </button>

    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>