<mat-toolbar>
    <button mat-icon-button *ngIf="sideNav.mode === 'over'" (click)="sideNav.toggle()">
        <mat-icon *ngIf="!sideNav.opened">menu</mat-icon>
        <mat-icon *ngIf="sideNav.opened">close</mat-icon>
    </button>
    Angular App
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav opened mode="side" class="mat-elevation-z8" #sideNav="matSidenav">
        <!-- <mat-sidenav opened class="mat-elevation-z8"> -->

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>sentiment_very_satisfied</mat-icon>
            <span>Jokes</span>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>cloudy</mat-icon>
            <span>Weather</span>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>assignment</mat-icon>
            <span>Bulletin Board</span>
        </button>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="content mat-elevation-z8">Currently under construction!</div>
    </mat-sidenav-content>

</mat-sidenav-container>