:host {

    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 140px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 65px;
    /* Stay at the top */
    left: 0;
    /* Black */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: cadetblue;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main-actions li {
    margin-top: 10px;
}

.main-actions li a:hover {
    color: black;
}