.card {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin: 5px auto;
}

.card-actions {
    width: 100%;
    align-self: flex-end;

    display: flex;
    justify-content: space-between;
}

.button-reply {
    margin-left: auto;
    margin-right: 0;
}