.card {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin: 5px auto;
    font-size: 1.2rem;
}

.card-actions {
    width: 100%;
    align-self: flex-end;

    display: flex;
    justify-content: space-between;
}

.button-reply {
    margin-left: auto;
    margin-right: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    padding: 1em;
    font-weight: 500;
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-reply:hover {
    background-color: #EEE;
}

.reply {
    background-color: #f5faf5;
    box-shadow: inset 1px 1px #d0d9d0;
    width: fit-content;
    margin-block: .5rem;
    border-radius: 5px;
    margin-inline: auto 0;
    padding: .25rem .75rem;
}

.reply-content {
    font-size: 1rem;
    line-height: 1.5;
}

@media (max-width: 800px) {
    .card {
        width: 99%;
    }
}