<mat-card class="card">
    <mat-card-title>{{post.message | unescape}}</mat-card-title>
    <mat-card-content>
        <div *ngIf="(replies$ | async) as replies">
            <div *ngFor="let reply of replies.data" class="reply">
                <span class="reply-content">{{reply.message | unescape}}</span>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <app-reply-form *ngIf="isReplying" [(isReplying)]="isReplying" [postId]="postId">
        </app-reply-form>
        <button class="button-reply" (click)="onReply()" *ngIf="!isReplying">reply</button>
    </mat-card-actions>
    <mat-card-content>
    </mat-card-content>
</mat-card>