<mat-card class="card">
    <mat-card-title>{{post.author}}</mat-card-title>
    <mat-card-content>{{post.message}}</mat-card-content>
    <mat-card-actions class="card-actions">
        <app-reply *ngIf="isReplying" [(isReplying)]="isReplying">
        </app-reply>
        <button class="button-reply" (click)="onReply()" *ngIf="!isReplying">Reply</button>
    </mat-card-actions>
    <mat-card-content>
        <mat-card>
            <mat-card-content>A reply</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>A reply</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>A reply</mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>