/* You can add global styles to this file, and also import other style files */
:root {
    --clr-background-html: hsl(180, 25%, 25%);
    --clr-background-navbar: #ffd740;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Anek Teluga', "Helvetica Neue", sans-serif;
    background-color: var(--clr-background-html);
}

.flex-container {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
}

.page-title {
    padding: 1em;
    text-align: center;
    background-color: hsl(180, 25%, 30%);
    letter-spacing: .4em;
    text-transform: uppercase;
}